

a:focus
{
	outline: 1px dotted invert;
}


ul
{
	list-style: square;
}

li
{
	margin-left: 30px;
}


ul{
	margin-bottom: 20px;
}
a {
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color:#333;
}

.floatleft{float:left;}
.floatright{float:right;}
.container_12{

	font: 13px/1.5 Tahoma, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	background: #fff;
	color: #333;
	font-size: 11px;
	padding: 0 0 0px;
	
}
.grid_12{
	display: inline;
	float: left;
	
	width:96vw;
	
}

#branding {
	font-weight:normal;
	text-align:left;

	padding:2em 1em 1.6em 1em;
	margin-bottom:0;
}
#branding a{color:#A1EAFF; font-weight:normal;}
#branding a:hover{color:#000000;}

#branding a:before{content:" | "; color:#000000;}

#branding ul, #branding ul li{margin:0px; padding:0px; }
#branding li{padding:0px 0px 0px 0px !important;}
.top-10{margin-top:-10px;}

.inline-ul li{display:inline; color:#000000;}


.marginleft10{margin-left:10px;}

